
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'Ventura', sans-serif;
scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#c8a2c8,#9c9cda);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    z-index: 10000;
}
header .logo{
    color: #ffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #ffff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
background: #ffff;
color: plum;
}
section::before{
  /* content: ''; */
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 100px;
   background: linear-gradient(to top,#9c9cda,transparent);

}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   pointer-events: none;
}
section img#sparkles{
    mix-blend-mode: screen;
}
section img#strawberry{
    z-index: 10;
}
.word{
    text-align: center;
}
#text{
    position: absolute;
    color: #ffff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    transform: translateY(100px);
}
#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #ffff;
    color: #9c9cda;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(200px);
}
.sec{
    position: relative;
    padding: 100px;
    background: linear-gradient(#c8a2c8 #9c9cda);
}
.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #ffff;

}
.sec p{
    font-size: 1.2em;
    color: #ffff;
}
label{
    position: absolute;
    width: 45px;
    height: 22px;
    right: 20px;
    top: 20px;
    border: 2px solid;
    border-radius: 20px;
}
label:before{
    position: absolute;
    content: '';
    width:20px;
    height: 20px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    transition: 0.4s;
}
label.active:before{
    left: 24px;
    background: #fff;
}
body.night{
    background: #000;
    color: #fff;
}
.image-gallery {
    width: 300px;
    height: auto;
  }
  
  #sect {
    display: flex;
    flex-direction: row;
    justify-content:  space-evenly;
    
  }
